/*CSS*/
/*Elements*/
body {
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  background-color: lightcoral;
  color: black;
  padding: 50px ;
  font-weight:10;
}

h1{
    text-align: center;
}
/*Classes*/
.container {
    background: Grey;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

.wrapper {
    background: Grey;
    color: white;
    flex-direction: column;
    align-items: flex-end;
    flex-flow:wrap;
    justify-content:center;
    align-content:space-between;
  }
  
  .content {
    background: #fff;
    border: 2px dotted rgb(221, 221, 221);
    flex-grow: 2;
    flex: 0 0 200px;
    padding: 10px;
    overflow-wrap: break-word;
  }
  
  .header {
    background: rgba(56, 149, 168,0.8);
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 4px;
  }
 
 .top{
  background: rgba(56, 149, 168,0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 15px;
  border-radius: 4px;
 }

 .top img{
     justify-content: center;
     border-style: round;
     border-radius: 4px;
     border: solid 1px black;
 }
 .bottom{
 background: rgba(56, 149, 168,0.8);
 color: #fff;
 display: flex;
 height: 100%; 
 width: 100%;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 margin: 0;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 15px;
 padding: 15px;
 border-radius: 4px;
 }

 .wrapper > .container > div{
    margin-right: 15px;
    flex: 0 1 auto;
}

/*Media Rules */
@media only screen and (min-device-width : 480px) and (max-device-width : 480px){
    .wrapper >
     .container > 
            div{justify-content: center;
                flex: 1 0 auto;
                margin-right: 0px;
            }
    .container{
      justify-content: center;
    }
  }

@media screen and (max-width: 960px){
    .wrapper >.container > div{
        justify-content: space-between;
        flex: 1 0 auto;
        margin-right: 0px;
        flex-direction: row;
    }
    .container{
      justify-content: center;
    }
}

@media only screen and (min-width : 1000px){
    .container{justify-content: space-between;
    }
  }
  